libs/lua-5.5.0/** linguist-vendored
libs/C89FW/** linguist-vendored
libs/audiopipe/** linguist-vendored
libs/jobgraph/** linguist-vendored
libs/menus/** linguist-vendored

*.md linguist-documentation

*.c linguist-language=C
*.h linguist-language=C

*.lua linguist-language=Lua

*.frag linguist-language=GLSL
*.geom linguist-language=GLSL
*.vert linguist-language=GLSL
*.comp linguist-language=GLSL

*.hlsl linguist-language=HLSL

*.go linguist-language=Go
