libs/lua-5.5.0/** linguist-vendored

*.md linguist-documentation

*.frag linguist-language=GLSL
*.geom linguist-language=GLSL
*.vert linguist-language=GLSL

*.c liguist-language=C
*.h linguist-language=C
